<div class="ds-container">
    <div class="rows">
        <div class="title-img-div col-xs-3"><img class="ds-logo" src="../images/title.jpg"><span id="subTitle" class="sub-title"></span></div>
        <div class="setLoginInfoHtml col-xs-2">
            <p><span>操作人：</span><span>田珍</span> &nbsp;&nbsp;&nbsp; <span>部门：</span><span>null</span></p>
        </div>
        <div class="title-ul-div col-xs-7" menuid="2">
            <ul id="alarmMgrGroup01">
                <li ui-sref-active="active"><a ui-sref="app.reportStaffManage">上报重点人员管理</a></li>
                <li ui-sref-active="active"><a ui-sref="app.staffManage.list">重点人员管理</a></li>
                <li ui-sref-active="active"><a ui-sref="app.staffListView">重点人员展示</a></li>
                <li ui-sref-active="active"><a ui-sref="app.staffDistribute">人员分配</a></li>
                <li ui-sref-active="active"><a ui-sref="app.exceptionDeal">布撤控异常处理</a></li>
            </ul>
        </div>
    </div>
</div>